body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.width img{
    width: 100%;
}

#up{
    margin-top: 100px;
}
h1{
    font-size: 40px;
}
h1 span{
    color: orange;
}
.button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
p{
    color: dimgray;
}
#middle{
    text-align: center;
}
.mid{
    width: 20%;
    float: left;
    margin-left: 3%;
    box-shadow: 5px 7px 40px rgb(117, 98, 98);
    height: 80%;
    background-color: azure;
    padding: 20px;
    border-radius: 10px;
    
   
}
.mid img{
    width: 40%;
}
#mission{
    border: 10px;
    margin-left: 12%;
    background-color: bisque;
}
#goll{
    background-color: beige;
}
#coding{
    margin-left: 8%;
    margin-top: 80px;
    width: 400px;
}
#solving{
    margin-top: 150px;
    
}
.sec-button{
    text-decoration: none;
    background: linear-gradient(45deg, rgb(180, 152, 123), rgb(134, 118, 115));
    padding: 10px 40px;
    border-radius: 8px;
    color: white;
    font-weight: 700;
    
    
}
.problem{
    margin-top: 1000px;
}
    
